.card-list-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.card-list-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 2rem;
}

.card-list-item {
  position: relative;
  witdh: 100%;
  max-width: 18rem;
  min-width: 13rem;
  margin: .5rem;
  display:flex;
  flex-direction: column;
  flex: 1 1 0;
  background: var(--bg-main);
  border-radius: 10px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.card-image-container {
  position: relative;
  margin: 1rem 1rem 0 1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-main);
  border-radius: .5rem;
  overflow: hidden;
}

.card-image-container img {
  width: 101%;
  height: auto;
  opacity: .5;
  border-radius: .5rem;
}

.card-image-container img:hover {
  opacity: 1;
}

.card-control {
  width: 100%;
  display: flex;
  justify-content: center;
}
