<div class="binder-book-container">
  <!-- Previous Button -->
  <button #prevBtn id="prev-btn" (click)="goPrevPage()">
    <mat-icon>home</mat-icon>
  </button>


  <!-- Book -->
  <div #book id="book" class="book">
    <!-- Paper 1 -->
    <div #paper1 id="p1" class="paper">
      <div class="front">
        <div id="f1" class="front-content">
          <app-binder-page></app-binder-page>
        </div>
      </div>
      <div class="back">
        <div id="b1" class="back-content">
          <h1>Back 1</h1>
        </div>
      </div>
    </div>
    <!-- Paper 2 -->
    <div #paper2 id="p2" class="paper">
      <div class="front">
        <div id="f2" class="front-content">
          <h1>Front 2</h1>
        </div>
      </div>
      <div class="back">
        <div id="b2" class="back-content">
          <h1>Back 2</h1>
        </div>
      </div>
    </div>
    <!-- Paper 3 -->
    <div #paper3 id="p3" class="paper">
      <div class="front">
        <div id="f3" class="front-content">
          <h1>Front 3</h1>
        </div>
      </div>
      <div class="back">
        <div id="b3" class="back-content">
          <h1>Back 3</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- Next Button -->
  <button #nextBtn id="next-btn" (click)="goNextPage()">
    <mat-icon>home</mat-icon>
  </button>
</div>
