<div class="binder-book-container">
  <!-- Previous Button -->
  <button #prevBtn id="prev-btn" (click)="goPrevPage()">
    <mat-icon>arrow_back_ios_new</mat-icon>
  </button>


  <!-- Book -->
  <div #book id="book" class="book">

    <!-- Cover -->
    <div #cover id="p0" class="paper" [style.zIndex]=(maxLocation)>
      <div class="front cover">
        <div id="f0" class="front-content">
          Cover
        </div>
      </div>
      <div class="back cover">
        <div id="b0" class="back-content">
          Cover - back
        </div>
      </div>
    </div>

    <!-- Papers -->
    <div #paper id="{{'p'+(i+1)}}" class="paper" *ngFor="let p of papers; index as i" [style.zIndex]=(numOfPapers-i)>
      <div class="front">
        <div id="{{'f'+(i+1)}}" class="front-content">
          <app-binder-page></app-binder-page>
        </div>
      </div>
      <div class="back">
        <div id="{{'b'+(i+1)}}" class="back-content">
          <app-binder-page></app-binder-page>
        </div>
      </div>
    </div>

    <!-- Back-cover -->
    <div #backCover id="{{'p'+(maxLocation-1)}}" class="paper" [style.zIndex]="0">
      <div class="front cover">
        <div id="{{'f'+(maxLocation)}}" class="front-content">
          Back Cover
        </div>
      </div>
      <div class="back cover">
        <div id="{{'b'+(maxLocation)}}" class="back-content">
          Back Cover - back
        </div>
      </div>
    </div>

  </div>

  <!-- Next Button -->
  <button #nextBtn id="next-btn" (click)="goNextPage()">
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</div>
