<mat-toolbar color="accent" id="main-search-bar">
  <mat-form-field appearance="legacy">
    <input [formControl]="searchForm" type="text" matInput placeholder="Search">
  </mat-form-field>


  <mat-form-field appearance="legacy">
    <mat-label>Display</mat-label>
    <mat-select>
      <mat-option *ngFor="let item of ['List','Full','Images']" [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Sort</mat-label>
    <mat-select>
      <mat-option *ngFor="let item of ['Name','Number','Set']" [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <button mat-button (click)="basicSearch(searchForm.value,1)">search</button>

</mat-toolbar>

<div *ngIf="searchList.length" id="main-search-container">

  <mat-paginator [length]="paginatorlength"
                 [pageSize]="paginatorPageSize"
                 [pageSizeOptions]="[20, 40, 80, 120]"
                 (page)="onPaginate($event)"
                 aria-label="Select page">
  </mat-paginator>

  <div id="main-search-grid">


    <div *ngFor="let card of searchList" class="main-search-card-container">

      <app-card-collection-control *ngIf="userData.email" [card]="card" [userData]="userData"></app-card-collection-control>

      <div *ngIf="card.images"><img src={{card.images.small}} alt="card"></div>

      <!--
        <span>{{card.name}}</span>
        <span *ngFor="let ability of card.attacks">{{ability.name}}</span>
        <span>{{card.artist}}</span>
        <span *ngFor="let attack of card.attacks">{{attack.name}}</span>
        <span>{{card.convertedRetreatCost}}</span>
        <span>{{card.evolvesFrom}}</span>
        <span>{{card.hp}}</span>
        <span>{{card.id}}</span>
        <span>{{card.level}}</span>
        <span *ngFor="let nationalNumber of card.nationalPokedexNumbers">{{nationalNumber}}</span>
        <span>{{card.number}}</span>
        <span>{{card.rarity}}</span>
        <span>{{card.supertype}}</span>
        <span *ngFor="let retreatCost of card.retreatCost">{{retreatCost}}</span>
        <span *ngFor="let subtype of card.subtypes">{{subtype}}</span>
        <span *ngFor="let type of card.types">{{type}}</span>
        <span *ngFor="let resistance of card.resistances">{{resistance.type}}
          ,{{resistance.value}}</span>
        <span *ngFor="let weakness of card.weaknesses">{{weakness.type}},{{weakness.value}}</span>
        -->

    </div>
  </div>

  <mat-paginator [length]="paginatorlength"
                 [pageSize]="paginatorPageSize"
                 [pageSizeOptions]="[20, 40, 80, 120]"
                 (page)="onPaginate($event)"
                 aria-label="Select page">
  </mat-paginator>
</div>
<!--

-->
