<div class="flex-column-center">

  <form id="main-search-bar" [formGroup]="searchForm">
    <mat-form-field appearance="legacy">
      <input formControlName="searchItem" type="text" matInput placeholder="Search">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-select formControlName="displayOption">
        <mat-option *ngFor="let item of displayOptions" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-select formControlName="sortOption">
        <mat-option *ngFor="let item of sortOptions" [value]="item">
          {{item.key}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group formControlName="collectionFilter" >
      <mat-radio-button value="1" (click)="setCardsSource(false)" checked>All</mat-radio-button>
      <mat-radio-button value="2" (click)="setCardsSource(true)">On Collection</mat-radio-button>
    </mat-radio-group>

    <button mat-button (click)="basicSearch(searchItem,1)">search</button>
  </form>

  <mat-paginator
    [length]="paginatorlength"
    [pageSize]="paginatorPageSize"
    [pageSizeOptions]="[20, 40, 80, 120]"
    (page)="onPaginate($event)"
    aria-label="Select page"
  >
  </mat-paginator>

  <ng-content></ng-content>

  <mat-paginator
    [length]="paginatorlength"
    [pageSize]="paginatorPageSize"
    [pageSizeOptions]="[20, 40, 80, 120]"
    (page)="onPaginate($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
